<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    {% block styles %}{% endblock %}
    <title>{% block title %}CODAI{% endblock %}</title>
</head>
<body>
    
    {% include 'components/header.html' %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-container">
                {% for category, msg in messages %}
                    <div class="flash message-{{ category }}">{{ msg }}</div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        <main>
                {% block content %}{% endblock %}
        </main>


    {% include 'components/footer.html' %}
</body>
<!-- site scripts -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
</html>

