{% extends 'base.html' %}

{% block title %}Codaí - Home{% endblock %}

{% block content %}
    <section id="apresentation">
        <h1 class="apresentation-title">Aprenda Programação <br>do ZERO</h1>
        <p class="text">
            Aprenda programação de forma simples e colaborativa com guias básicos em linguagem acessível e uma comunidade para trocar experiências entre iniciantes e pessoas mais experientes.
        </p>
        <a href="{{ url_for('auth.register') }}" id="start-button">Começar</a>
    </section>

    <section class="grid-post-guias">
    <div class="guias-list">
    <h2 class="title-grid">Artigos e Guias</h2>
    {% for guia in guias %}
    <a href="{{ url_for('forum.view_post', post_id=guia.id) }}" class="guia-cards" style="display:block; text-decoration:none; color:inherit;">
        <img src="../static/image/article_thumbnail_1.png" alt="imagem do guia">
        <div class="more-detals">
        <h3 id="title-card">{{ guia.title }}</h3>
        <p>{{ guia.excerpt }}</p>
        <small>Tempo de leitura: {{ guia.reading_time }} min</small>
        </div>
    </a>
    {% else %}
    <p>Nenhum artigo encontrado.</p>
    {% endfor %}
    </div>

    <div class="posts-list">
        <h2 class="title-grid">Últimos Posts</h2>
        {% for post in posts %}
          <div class="post-cards">
            <h3 id="title-card-post">{{ post.title }}</h3>
            <p>{{ post.excerpt if post.excerpt else post.content[:250] ~ '...' }}</p>
            <div class="date-and-seepost">
            <p class="date-post">{{ post.created_at.strftime('%d/%m/%Y') }}</p>
            <a href="{{ url_for('blog.view_article', article_id=post.id) }}" class="see-post">Ver Post</a>
            </div>
            </div>
        {% else %}
        <p>Nenhum post encontrado.</p>
        {% endfor %}
        <a href="{{ url_for('main.forum') }}" id="ver-mais-post">Ver mais</a>
    </div>  
    </section>


<section id="depoiments" class="depoiments-wrapper">
    <h2 class="title-depoiments">O que nossos usuários dizem</h2>

    <div class="depoiments-container">
        <div class="card-depoiments">
            <p class="depoiment-text">
                “A CODAI mudou completamente minha forma de aprender tecnologia. Tudo é didático e organizado!”
            </p>
            <span class="depoiment-user">— Mariana S.</span>
        </div>

        <div class="card-depoiments">
            <p class="depoiment-text">
                “Os artigos me ajudam demais! Aprendo rápido e consigo aplicar tudo no mesmo dia.”
            </p>
            <span class="depoiment-user">— Lucas A.</span>
        </div>

        <div class="card-depoiments">
            <p class="depoiment-text">
                “A plataforma é muito intuitiva. Recomendo para qualquer iniciante que queira entrar na área.”
            </p>
            <span class="depoiment-user">— Giovana P.</span>
        </div>
    </div>
</section>


{% endblock %}