{% extends 'base.html' %}

{% block title %}Codaí - Home{% endblock %}

{% block content %}
    <section id="apresentation">
        <h1 class="apresentation-title">Aprenda Programação <br>do ZERO</h1>
        <p class="text">
            Aprenda programação de forma simples e colaborativa com guias básicos em linguagem acessível e uma comunidade para trocar experiências entre iniciantes e pessoas mais experientes.
        </p>
        <a href="{{ url_for('auth.register') }}" id="start-button">Começar</a>
    </section>

    <section class="grid-post-guias">
        <div class="posts-list">
            <h2 class="title-grid">Últimos Posts</h2>
            {% for post in posts %}
            <div class="post-cards">
                <h3 id="title-card-post">{{ post.titulo }}</h3>
                <div class="date-and-seepost">
                    <p class="date-post">{{ post.data }}</p>
                    <a href="{{ url_for('ver_post', post_id=post.id) }}" class="see-post">Ver Post</a>
                </div>
            </div>
            {% endfor %}
            {# <!-- <a href="{{ url_for('blog') }}" id="ver-mais-post">Ver mais</a> --> #}
        </div>
        <div class="guias-list">
            <h2 class="title-grid">Artigos e Guias</h2>
            {% for guia in guias %}
            <div class="guia-cards">
                <img src="{{ url_for('static', filename=guia.imagem) }}" alt="imagem do guia">
                <div class="more-detals">
                    <h3 id="title-card">{{ guia.titulo }}</h3>
                    <a href="{{ url_for('ver_guia', guia_id=guia.id) }}" class="see-post">Ver mais ></a>
                </div>
            </div>
            {% endfor %}
            {# <!-- <a href="{{ url_for('guias') }}" id="ver-mais-guias">Ver mais</a> --> #}
        </div>
    </section>

    <section id="depoiments">
        {% for depoimento in depoimentos %}
        <div class="card-depoiments">
            <h3 id="name-person">{{ depoimento.nome }}</h3>
            <p id="depoiment-text">"{{ depoimento.texto }}"</p>
        </div>
        {% endfor %}
    </section>
{% endblock %}
