<footer class="codai-rodape">
    <div class="codai-rodape-conteudo">
        <div class="codai-rodape-logo">
            <img src="/static/image/logo-nome.png" alt="Logo CODAÍ">
        </div>

        <p>
            O CODAÍ é um espaço de aprendizado colaborativo onde todos podem crescer e compartilhar conhecimento em tecnologia.
        </p>

        <div class="codai-social-secao">
            <span>Nos siga:</span>
            <a href="#"><img src="/static/images/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/static/images/github.png" alt="GitHub"></a>
            <a href="#"><img src="/static/images/linkedin.png" alt="LinkedIn"></a>
        </div>

        <div class="codai-copyright">
            © 2025 CODAÍ — Todos os direitos reservados.
        </div>
    </div>
</footer>